.about{
    padding: 100px 0;
}
.about-subtitle{
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #19271A;
    margin-bottom: 27px;
    opacity: 0.3;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
    margin-bottom: 57px;
}
.about-text{
    max-width: 687px;
}
.about-title{
    max-width: 830px;
    margin-bottom: 63px;
}
.about-swiper{
    width: 100%;
    max-width: 2105px;
    margin: 0 auto;
}
.about-swiper .swiper{
    width: 100%;
}
.about-swiper .swiper-slide{
    width: 405px;
    height: 352px;
    margin-right: 20px;
}
.about-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #5BAA00;
    color: #FFFFFF;
    text-align: center;
}
.about-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-item p strong{
    display: block;
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 50px;
    letter-spacing: -0.15rem;
    margin-bottom: 23px;
}